.card_content{
    display: grid;
    grid-template-columns: 50px 1fr 75px;
    grid-gap: 15px;
    align-items: center;
}
.card_content img{
    height: 50px;
    width: 50px;
}
.card_content .flex_Conteiner{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.card_content .flex_Conteiner .description{
    font-size: 18px;
    font-weight: 600;
}